body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  place-items: flex-start;
  text-align: center;
}

#topbar {
  width: 100%;
  background-color: #242424;
}

h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  height: 3em;
  line-height: 3em;
}

fieldset {
  width: 555px;
  margin: 0 auto;
}

legend {
  text-align: left;
}

table {
  display: flex;
  justify-content: center;
}

table th,
table td {
  border-bottom: 1px solid #ddd;
}